{{define "header"}}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Chat Example</title>
  <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/css/font-awesome.min.css">
  <script src="/assets/js/jquery.min.js"></script>
  <style>
    #chat3 .form-control {
      border-color: transparent;
    }

    #chat3 .form-control:focus {
      border-color: transparent;
      box-shadow: inset 0px 0px 0px 1px transparent;
    }

    .badge-dot {
      border-radius: 50%;
      height: 10px;
      width: 10px;
      margin-left: 2.9rem;
      margin-top: -.75rem;
    }
  </style>
</head>
<body style="background-color: #eee;">
{{end}}