{{define "home"}}
{{template "header" .}}
<div class="container">
    <div class="row mt-5 rounded-2 bg-light m-auto" style="width: 1000px;">
        <div class="left col-md-1 text-center rounded-start" style="background: #e6e1e3; height: 600px;">
            <div class="avatar mt-4">
                <img src="{{.user.Avatar}}" class="rounded-2" style="height: 60px;width: 60px;"/>
            </div>
            <div class="mt-4">
                <a href="javascript:;" class="text-decoration-none text-success">
                    <i class="fa fa-comment" style="font-size: 28px;"></i>
                </a>
            </div>
            <div class="mt-4">
                <a href="/logout" class="text-decoration-none" style="color: #707371;">
                    <i class="fa fa-power-off" style="font-size: 28px;"></i>
                </a>
            </div>
        </div>
        <div class="right col-md-11" style="border-left: 1px solid #e0e3e7;padding: 0;">
            <div class="top text-dark ps-3" style="height: 50px;line-height: 50px;border-bottom: 1px solid #e0e3e7;">
                当前在线: <span class="text-success">1000</span>
            </div>
            <div class="content p-3">
                <div class="pt-3 pe-3 chat-content" data-mdb-perfect-scrollbar="true"
                     style="position: relative; height: 400px;overflow: auto;">
                    <div class="d-flex flex-row justify-content-start">
                        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava1-bg.webp"
                             alt="avatar 1" style="width: 45px; height: 100%;">
                        <div>
                            <p class="small p-2 ms-3 mb-1 rounded-3" style="background-color: #e9eaec;">
                                今天在做什么呢
                            </p>
                            <p class="small ms-3 mb-3 rounded-3 text-muted float-end">2022/09/26 13:30:00</p>
                        </div>
                    </div>
                    <div class="d-flex flex-row justify-content-end">
                        <div>
                            <p class="small p-2 me-3 mb-1 text-white rounded-3 bg-primary">
                                我在处理工作
                            </p>
                            <p class="small me-3 mb-3 rounded-3 text-muted">2022/09/26 13:32:00</p>
                        </div>
                        <img src="{{.user.Avatar}}" alt="avatar 1" style="width: 45px; height: 100%;"
                             class="rounded-circle">
                    </div>
                </div>
            </div>
            <div class="footer">
                <textarea class="form-control mt-2 border-0 chat-input" rows="4"></textarea>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        // 注册全局对象
        window.user = {
            cid: "{{.user.ID}}",
            name: "{{.user.Name}}",
            avatar: "{{.user.Avatar}}",
        }

        let addr = 'ws://127.0.0.1:8080/ws?cid=' + user.cid
        let ws = new WebSocket(addr)

        ws.onerror = function (event) {
            console.log(event)
        }
        ws.onopen = function (event) {
            handers.firstTimeOnlineHandler(ws)
        }
        ws.onclose = function (event) {
            console.log(event)
        }
        ws.onmessage = function (event) {
            let data = JSON.parse(event.data)
            console.log(data)
        }

        const firstTimeOnline = 100 // 第一次上线消息

        let handers = {
            firstTimeOnlineHandler: function (ws) {
                let msgObject = {
                    id: 100,
                    data: {cid: window.user.cid, name: window.user.name, avatar: window.user.name}
                }
                ws.send(JSON.stringify({}))
            }
        }

        // 监听 enter或 enter + ctr 事件 (enter 发送消息 enter+ctr 聊天换行)
        $(".chat-input").keydown(function (event) {
            let code = 13
            let keyCode = event.keyCode ? event.keyCode : (event.which ? event.which : event.charCode);
            let altKey = event.ctrlKey || event.metaKey;
            if (keyCode === code && altKey) {
                // ctrl+enter换行 获取 textarea 数据进行 换行
                $(this).val($(this).val() + "\n");
            } else if (keyCode === code) {
                $(this).val("")
                // 禁止回车默认换行
                event.preventDefault();
            }
        });
    })
</script>
{{template "footer" .}}
{{end}}