{{define "home"}}
{{template "header" .}}
<div class="container">
    <div class="row mt-5 rounded-2 bg-light m-auto" style="width: 1000px;">
        <div class="left col-md-1 text-center rounded-start" style="background: #e6e1e3; height: 600px;">
            <div class="avatar mt-4">
                <img src="{{.user.Avatar}}" class="rounded-2" style="height: 60px;width: 60px;"/>
            </div>
            <div class="mt-4">
                <a href="javascript:;" class="text-decoration-none text-success">
                    <i class="fa fa-comment" style="font-size: 28px;"></i>
                </a>
            </div>
            <div class="mt-4">
                <a href="/logout" class="text-decoration-none" style="color: #707371;">
                    <i class="fa fa-power-off" style="font-size: 28px;"></i>
                </a>
            </div>
        </div>
        <div class="right col-md-11" style="border-left: 1px solid #e0e3e7;padding: 0;">
            <div class="top text-dark ps-3" style="height: 50px;line-height: 50px;border-bottom: 1px solid #e0e3e7;">
                当前在线: <span class="text-success online-count">0</span> 人
            </div>
            <div class="content p-3">
                <div class="pt-3 pe-3 chat-content" data-mdb-perfect-scrollbar="true"
                     style="position: relative; height: 400px;overflow: auto;width: 100%;">

                </div>
            </div>
            <div class="footer">
                <textarea class="form-control mt-2 border-0 chat-input" rows="4"></textarea>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        let user = {cid: "{{.user.ID}}", name: "{{.user.Name}}", avatar: "{{.user.Avatar}}"}

        let addr = 'ws://127.0.0.1:8080/ws?cid=' + user.cid
        let ws = new WebSocket(addr)

        ws.onerror = function (event) {
            console.log(event)
        }
        ws.onopen = function (event) {
            clientHandlers.userOnlineMsgHandler(ws)
        }
        ws.onclose = function (event) {
            console.log(event)
        }
        ws.onmessage = function (event) {
            let data = JSON.parse(event.data)
            serverHandlers[data.id](data)
        }


        // 客户端发送方法
        let clientHandlers = {
            userOnlineMsgHandler: function (ws) {
                ws.send(JSON.stringify({id: 100, user: user}))
            },
            sendMessageHandler: function (msg) {
                ws.send(JSON.stringify({id: 300, data:{user:user, content: msg}}))
                let h = '<div class="d-flex flex-row justify-content-end mt-4">'
                    h += '<div style="max-width: 70%;">'
                    h += '<p class="small p-2 me-3 mb-1 text-white rounded-3 bg-primary">'
                    h += msg
                    h += '</p>'
                    h += '</div>'
                    h += '<p class="me-2 mt-1 small" style="color: #aaaaaa;">{{.user.Name}}</p>'
                    h += '<img src="{{.user.Avatar}}" style="width: 38px; max-height: 38px;" class="rounded-2">'
                    h += '</div>'
                let e = $('.content>div>div')
                if (e.length > 0) {
                    e.eq(e.length - 1).after(h)
                } else {
                    $('.content>div').append(h)
                }
            }
        }

        // 服务端消息处理
        let serverHandlers = {
            100: function (data) {
                $('.online-count').text(data.data)
            },
            200: function (data) {
                $('.online-count').text(data.data)
            },
            300: function (data) {
                let h = '<div class="d-flex flex-row justify-content-start mt-2">'
                h += '<img src="'+data.data.data.user.avatar+'" style="width: 38px; max-height: 38px;" class="rounded-2">'
                h += '<p class="ms-2 mt-1 small" style="color: #aaaaaa;">'+data.data.data.user.name+'</p>'
                h += '<div style="max-width: 70%;">'
                h += '<p class="small p-2 ms-3 mb-1 rounded-2" style="background-color: #e9eaec;">'
                h += data.data.data.content
                h += '</p>'
                h += '</div>'
                h += '</div>'
                let e = $('.content>div>div')
                if (e.length > 0) {
                    e.eq(e.length - 1).after(h)
                } else {
                    $('.content>div').append(h)
                }
            }
        }

        // 监听 enter或 enter + ctr 事件 (enter 发送消息 enter+ctr 聊天换行)
        $(".chat-input").keydown(function (event) {
            let self = $(this)
            let code = 13
            let keyCode = event.keyCode ? event.keyCode : (event.which ? event.which : event.charCode);
            let altKey = event.ctrlKey || event.metaKey;
            // ctrl+enter换行 获取 textarea 数据进行 换行
            if (keyCode === code && altKey) {
                self.val(self.val() + "\n");
            } else if (keyCode === code) {
                clientHandlers.sendMessageHandler(self.val())
                self.val("")
                // 禁止回车默认换行
                event.preventDefault();
            }
        });
    })
</script>
{{template "footer" .}}
{{end}}