{{define "recordLogsModal"}}
<!-- 添加好友 Modal -->
<div class="modal fade" id="recordLogsModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <b>新朋友</b>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mt-1">
                    <ul class="list-unstyled p-1 record-log-list" style="height: 400px;overflow: auto;">
<!--                        <li class="p-2">-->
<!--                            <a href="javascript:;" class="d-flex justify-content-between text-decoration-none">-->
<!--                                <div class="d-flex flex-row">-->
<!--                                    <div>-->
<!--                                        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava1-bg.webp" alt="avatar" class="d-flex align-self-center me-3" width="50">-->
<!--                                    </div>-->
<!--                                    <div class="pt-1">-->
<!--                                        <p class="mb-0 text-secondary">小星星🌟🌟</p>-->
<!--                                        <p class="small text-secondary">我是何欢</p>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="pt-1">-->
<!--                                    <span class="text-secondary">同意</span>-->
<!--                                    <span class="text-secondary">拒绝</span>-->
<!--                                </div>-->
<!--                            </a>-->
<!--                        </li>-->
                    </ul>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>
{{end}}