{{define "recordLogsModal"}}
<!-- 添加好友 Modal -->
<div class="modal fade" id="recordLogsModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <b>新朋友</b>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mt-1">
                    <ul class="list-group friend-box"></ul>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>
{{end}}